name: Update README

on:
  push:
    branches:
      - main
  schedule:
    # Once a day at 12 AM
    - cron: 0 12 * * *
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v3
        with:
          enable-cache: true
          cache-dependency-glob: |
            *.py

      - name: Fetch our Feeds
        run: |
          # Fetch latest Django News Newsletter entries
          uv run fetch-rss.py \
              --section=news \
              --readme-path=profile/README.md \
              https://django-news.com/issues.rss

          # Fetch latest Django Job Board entries
          uv run fetch-rss.py \
              --section=jobs \
              --readme-path=profile/README.md \
              https://djangojobboard.com/feed/

          # Fetch latest Django Chat Podcast episodes
          uv run fetch-rss.py \
              --section=episodes \
              --readme-path=profile/README.md \
              https://feeds.simplecast.com/WpQaX_cs

          # Fetch latest Django TV entries
          uv run fetch-rss.py \
              --section=videos \
              --readme-path=profile/README.md \
              https://djangotv.com/feeds/

      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: ":pencil: Updates README"
